@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url(fontes/BebasNeue-Regular.ttf) format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #4BADF9;
    --cor1: #008CF7;
    --cor2: #0068B5;
    --cor3: #006FC4;
    --cor4: #245378;
    --cor5: #122c41;
    --corD: #0b1c29; 
    --cor6: #EBE5C5;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas', cursive;
    --fonte-android: 'Android', cursive; 
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

body{
    background-color: var(--cor6);
    
}

body > a{
    cursor: pointer;
}

div#video{
    background-image: linear-gradient(to right, var(--cor5), var(--cor4)) ;
    width: 100%;
    padding: 0px -20px 0px -20px;
}

header{
    font-family:var(--fonte-padrao);
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) );
    padding-top: 40px;
}

header > h1{
    text-align: center;
    color: white;
    font-family: var(--fonte-destaque);
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
    font-size: 3.0em;
}

header > p{
    margin: auto;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    text-align: center;
    
   
    
}

nav{
    background-color: var();
    padding: 10px 0px 10px 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.11);

}

nav > a{
    color: var(--cor2);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    
}

nav > a:hover{
    background-color: #008CF7;
    color: var(--cor5);
    border: 1px solid white;

}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: 0px auto 30px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    padding: 15px 20px 70px 20px;
    border-radius: 0px 0px 10px 10px;
}
article > h2{
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor1) ,white);
    padding: 0px 10px;
   
}

article > h1,h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.9em;
    
    

}

article > p{
    font-family: var(--fonte-padrao);
    text-indent: 30px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2em;
    font-size: 1.1em;
}

img{
    display: block;
    margin: auto;
}

div#video > iframe{
    display: block;
    margin: auto;
    
}

div#video{
    margin: 0px -20px 30px -20px;
    padding: 50px 20px;
}

aside{
    background-color: var(--cor1);
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.151);
}

aside > h3{
    padding: 10px;
    background-color: var(--cor5);
    color: white;
    font-weight: bold;
    font-family: var(--fonte-padrao);
    border-radius: 10px 10px 0px 0px;
}

aside > p {
    text-indent: 30px;
    margin: 10px 15px;
    line-height: 2em;
    font-size: 1.1em;
    text-align: justify;
    font-family: var(--fonte-padrao);

}

li > abbr{
    text-decoration: underline;
    
}

ul{
    column-count: 2;
   list-style: none;

   margin-left: 25px;
}

li:before{
    content: '✓ ';
    font-weight: bold;
}

footer{
    background-color: var(--cor5);
    width: 100%;
}

footer > p{
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    padding: 10px 0px;
}

footer > p > a{
    color: var(--cor1);
    font-weight: bolder;
}

footer>p>a:hover{
    color: var(--cor0);
    text-decoration: underline;
    cursor: pointer;

}

strong{
    font-weight: bold;
    color: var(--corD);
}

main > article > p >a{
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 10px ;
    transition-duration: 0.5s;
}

main > article > p >a:hover{
    color: var(--cor2);
    text-decoration: underline;
    border: 1px solid rgb(3, 0, 0);
    
}

main > article > p >a:after{
    content: ' 🔗';
}

main > article >aside> p >a{
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor2);
    padding: 2px 10px ;
    transition-duration: 0.5s;
}

main > article >aside> p >a:hover{
    color: var(--cor4);
    text-decoration: underline;
    border: 1px solid rgb(3, 0, 0);
    
}

main > article >aside> p >a:after{
    content: ' 🔗';
}

form>input{
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: white;
    border: none;
    font-weight: bold;
    text-decoration: underline;
    
    font-size: 0.8em;
}

form>input:hover{
    font-size: 0.83em;
    background-color: var(--cor4);
    padding: 10px;
}
